html {
  .btn {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    height: 44px;
    padding: 0.5rem 1rem;
    font-size: 14px;
    min-width: 80px;
    justify-content: center;

    &.btn-outline-light {
      color: white;

      &:hover {
        background-color: transparent;
        border-color: white;
      }
    }

    &:disabled,
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;

      * {
        pointer-events: none;
      }
    }

    .btn-icon {
      margin-right: 0.5rem;
    }
  }

  .btn-lg {
    height: 54px;
    font-size: 1.125rem;
  }
}
